ussd-config/tempConfig/xmlRequestResponse/USSDXMLRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="REQUEST">
    <xs:complexType>
      <xs:sequence>
      <xs:element name="HEADER">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUSINESSID" />
              <xs:element type="xs:string" name="MNO"/>
              <xs:element type="xs:string" name="MSISDN"/>
              <xs:element type="xs:string" name="IMEI"  minOccurs="0" maxOccurs="1" />
              <xs:element type="xs:string" name="SESSIONID"  minOccurs="0" maxOccurs="1" />
              <xs:element type="xs:string" name="NONCE"  minOccurs="0" maxOccurs="1" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      <xs:element name="BODY">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ACTION"/>
              <xs:element type="xs:string" name="USERINPUT"/>
              <xs:element type="xs:string" name="EXTRA" minOccurs="0" maxOccurs="1" />
              <xs:element type="xs:string" name="AMOUNT" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>